body {
  font-family: Roboto;
  padding: 0 20px;
}

.vcont {
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.vcont pre {
  padding: 16px;
  overflow: auto;
  background-color: #f5f5f5;
  border-radius: 6px;
}

.inputContainer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.latheCodeInput {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.errorContainer:not(:empty) {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ff4c4c;
  color: #ffffff;
  font-size: 14px;
  border-radius: 0;
}

#sceneContainer {
  width: 500px;
  height: 500px;
}

#gcodeContainer {
  margin: 12px 0;
}

#plannerContainer .canvasContainer {
  position: absolute;
  transform-origin: 0 0;
  overflow: hidden;
  padding-bottom: 12px;
}

#plannerContainer .canvasContainer .tool {
  position: absolute;
}

#plannerContainer .generationProgressMessage {
  margin-bottom: 8px;
}

#gcodeContainer textarea {
  box-sizing: border-box;
  height: 400px;
  width: 100%;
}

button {
  display: inline-block;
  padding: 12px 24px;
  margin: 8px 4px 8px 0;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #ffd500;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ffff00;
}

progress {
  display: block;
}

.senderError {
  margin: 10px 0;
  padding: 10px;
  background-color: #ff4c4c;
  color: #ffffff;
  font-size: 14px;
}

.whatLink {
  padding: 12px 24px;
  margin: 8px 4px 8px 0;
}
